.abc-index
  .abc-left
    .menu-box
      - $this->_include('menu')
    .content-box
      .content
        - foreach ($this->get('content_items') as $item)
          - $news_item_style = $item['style']
          .news-item-box.$news_item_style
            .icons
              - $this->_includeSquares($item['icons'])
            .category= $item['category']
            .clear
            .date= $item['date']
            .title= $item['title']
            .text= $item['text']
  .abc-right
    .title-text-box
      %h1.title= $this->get('title')
    .copyright-box
      %span
        &copy; 
        %a{href="mailto:alya.mikhailova@gmail.com"}
          Alina Mikhailova
    .copyright-box
      %span
        &copy; 
        %a{href="mailto:blackakula@gmail.com"}
          Sergey Akulinin
    .pic-box
      .pic-box-inner
        .pic
      .pic-box-inner.pic-right
        .pic
      .clear
  .clear