.abc-index
  .abc-left
    .menu-box
      - $this->_include('menu')
    .content-box
      .content
        - foreach ($this->get('content_items') as $item)
          - $this->set('news_item_style', $item['style'])
          .news-item-box.$news_item_style
            .icons
              - foreach (array_reverse($item['icons']) as $ico_type)
                - $this->set('news_ico_type', $ico_type)
                .icon.$news_ico_type
              .clear
            .category= $item['category']
            .clear
            .date= $item['date']
            .title= $item['title']
            .text= $item['text']
  .abc-right
    .title-text-box
      %h1.title= $this->get('title')
    .copyright-box
      %span
        &copy; 
        %a{href="mailto:alya.mikhailova@gmail.com"}
          Alya.Mikhailova
    .pic-box
      .pic-box-inner
        .pic
      .pic-box-inner.pic-right
        .pic
      .clear
  .clear